<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Presentation Controller</title>

    <link rel="stylesheet" type="text/css"  href="/css/index.css">

    
</head>
<body>
    
    <div class="container">
        <div class="btn left-btn">
            <div class="left">▲</div>
        </div>
        <div class="btn right-btn">
            <div class="right">▼</div>
        </div>  
    </div>

    <script src="/js/index.js"></script>

    <script>
        /*const left = document.querySelector('.left-btn .left');
        const right = document.querySelector('.right-btn .right');
        // const server = 'http://{{ server_ip }}:{{ server_port }}'

        const press = (key) => {
            console.log("Pressed", key);
            fetch(`/${key}`, {
                method: 'POST'
            }).then(response => {
                response.json().then(data => {
                    console.log(data);
                })
            }).catch(err => {
                console.log(err);
            });
        }

        left.addEventListener('click', () => {
            press('left');
        });

        right.addEventListener('click', () => {
            press('right');
        });*/
    </script>
</body>
</html>
